body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

.main {
    margin: 50px auto 50px;
    width: 425px;
    height: 768px;
    box-shadow: 0 3px 15px 1px rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
}

.main__title {
    margin: 0;
    padding-top: 55px;
    padding-right: 15px;
    padding-bottom: 7px;
    color: #262e73;
    font-size: 33px;
    font-weight: 700;
    text-align: center;
}

.form {
    margin-left: 20px;
}

.form__entry:first-child {
    margin-top: 0;
}

.form__label {
    display: block;
    color: #262e73;
    font-size: 14px;
    font-weight: 400;
}

.form__label, .form__user-agreement-wrapper {
    margin-top: 17px;
}

.form__user-agreement-wrapper {
    display: flex;
}

.form__text-field {
    display: block;
    margin-top: 6px;
    padding-left: 17px;
    color: #262e73;
    font-size: 17px;
    font-weight: 400;
    width: 350px;
    height: 38px;
    border: 1px solid #949caa;
}

.form__text-field:focus {
    border-color: #262e73;
    background-color: #ecfef9;
}

.form__text-field::placeholder {
    color: #c1c9d5;
    opacity: 1;
}

.form__text-field:-ms-input-placeholder {
    color: #c1c9d5;
}

.form__text-field::-ms-input-placeholder {
    color: #c1c9d5;
}

.form__text-field_password {
    letter-spacing: 3px;
    font-size: 24px
}

.form__radio-group {
    margin-top: 6px;
}

.radio-group__radio {
    margin: 0 3px 0 0;
}

.radio-group__label {
    margin-right: 20px;
    letter-spacing: 0.015em;
}

.form__user-agreement-checkbox {
    flex-shrink: 0;
}

.form__checkbox {
    width: 14px;
    height: 14px;
    margin: 5px 0 0;
    padding: 0;
    vertical-align: top;
}

.form__user-agreement-label {
    display: inline-block;
    margin-left: 5px;
    color: #565d69;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}

.user-agreement-label__link {
    text-decoration: none;
    color: #262e73;
}

.form__register-button {
    display: block;
    margin-top: 15px;
    width: 371px;
    height: 43px;
    background-color: #0bc691;
    border-style: none;
    border-radius: 4px;
    box-shadow: 0 3px 15px 1px rgba(38, 46, 115, 0.14);
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}

.form__register-button:hover {
    cursor: pointer;
    background-color: #00a577;
    transition: 0.3s;
}

.form__register-button:active {
    cursor: pointer;
    background-color: #007f5c;
    transition: 0.3s;
}
